/*/////////////////////////////   cuerpo de la pag   /////////////////////////////////////*/
body{
  background-color: black;
}
/*/////////////////////////////   imagen del logo      /////////////////////////////////////*/
.img-logo{
    width: 110px !important;
    height: 50px !important;
}
.fondo-img{
  background-color:white;
}
/*////////////////////////////   Zona del menu       ////////////////////////////////////////////////*/
.navbar {
    overflow: hidden;
    background: linear-gradient(to right,white,white,grey,grey,black,black,#0aee0a,#0aee0a) !important;
    top: 0%;
    height: 57px;
    width: 100%;
    
  }
  
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #000000;
    color: rgb(255, 255, 255) ;
  }

  .secc-uno{
    color: rgb(1, 255, 1) !important;
  }
  .secc-dos{
    background-color: rgb(1, 255, 1); 
    color: black !important;
  }
  .secc-tres{
    background-color: black; 
    color: white !important;
  }
  /*///////////////////////////////////////    Estilo de letra y tamaño     ////////*/
  .estil-letr{
    font-family:sans-serif;
  }
  .tam-let{
    font-size: 15px !important;
  }
/*///////////////////////////////////////    boton whats app ////////*/
.button2 {
  height: 50px;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: black;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background:transparent;
  margin-left: 10px;
  border: none #e8e8e8;
  box-shadow: 6px 6px 12px transparent,
             -6px -6px 12px transparent;
}

.button2 > svg {
  height: 30px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -4px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/*/////////////////////////////////     Edicion de video de fondo    ////////////////////////////////////////*/
.video-container {
  position: relative;
  max-width: 100%; /* Ajusta el ancho según lo necesario */
  height: 500px; /* Ajusta la altura según lo necesario */
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la relación de aspecto del video */
  z-index: -1; /* Para asegurarse de que esté detrás del contenido */
}
.content{
  text-align: right;
  color:#01ff01;
  font-size: 22px;
  font-family:Georgia, 'Times New Roman', Times, serif !important;
  
}
.bienv{
  background: linear-gradient(to top,black,rgb(88, 86, 84),rgb(0, 255, 0),rgb(88, 86, 84),black) !important;
  text-align: center;
  border: solid 3px rgba(255, 255, 255, 0.705);
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-top:solid 3px #0aee0a;
  margin-top: 65px;
}
.letra-bienv{
  background: -webkit-linear-gradient(white,#09ff00de,rgb(43, 42, 42),#09ff00ef,black,white,#09ff00b7,#09ff00b7);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family:'Times New Roman', Times, serif;
}
/*/////////////////////////////////////////////   EDICION DE TODA LA PAG    //////////////////////////////////*/
.fondo{
  background-color: white;
}
.lt-vid{
  background: -webkit-linear-gradient(white,#09ff00de,rgb(43, 42, 42),#09ff00ef,black,white,#09ff00b7,#09ff00b7);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
/*/////////////////////////////////////////   Edicion de servicios        ///////////////////////////////////////////*/
.carta{
  min-height:405px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 6px 6px 25px #09ff00de;
  font-family: 'Ruso one';
  font-size: 17px;
}

/*/////////////////////////////////////////   Edicion de cartas        ///////////////////////////////////////////*/
.trab{
  font-size: 45px;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.fond{
  background-color: white;
}
/*///////////////       /////////////////*/
.sombr-aim{
  box-shadow: 6px 6px 25px red;
}
.aima{
  width: 250px;
  height: 100px;
  margin-top: 25px;
}
/*///////////////       /////////////////*/
.sombr-bmw{
  box-shadow: 6px 6px 25px rgb(132, 140, 253);
}
.BMW{
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
/*///////////////       /////////////////*/
.sombr-dina{
  box-shadow: 6px 6px 25px black;
}
.dinamo{
  width: 120px;
  height: 70px;
  margin-top: 39px;
}
/*///////////////       /////////////////*/
.sombr-duca{
  box-shadow: 6px 6px 25px red;
}
.ducati{
  width: 100px;
  height: 100px;
  margin-top: 25px;
}
/*///////////////       /////////////////*/
.sombr-har{
  box-shadow: 6px 6px 25px orange;
}
.harley{
  width: 110px;
  height: 100px;
  margin-top: 25px;
}
/*///////////////       /////////////////*/
.sombr-hon{
  box-shadow: 6px 6px 25px darkred;
}
.honda{
  width: 120px;
  height: 120px;
  margin-top: 12px;
}
/*///////////////       /////////////////*/
.sombr-ind{
  box-shadow: 6px 6px 25px black;
}
.indian{
  width: 137px;
  height: 100px;
  margin-top: 25px;
}
/*///////////////       /////////////////*/
.sombr-ita{
  box-shadow: 6px 6px 25px blue;
}
.italika{
  width: 140px;
  height: 140px;
  margin-top: 0px;
}
/*///////////////       /////////////////*/
.sombr-izu{
  box-shadow: 6px 6px 25px red;
}
.izuka{
  width: 150px;
  height: 70px;
  margin-top: 40px;
}
/*///////////////       /////////////////*/
.sombr-kaw{
  box-shadow: 6px 6px 25px black;
}
.kawasaki{
  width: 230px;
  height: 60px;
  margin-top: 45px;
}
/*///////////////       /////////////////*/
.sombr-mbm{
  box-shadow: 6px 6px 25px green;
}
.mbmotos{
  width: 200px;
  height: 100px;
  margin-top: 30px;
}
/*///////////////       /////////////////*/
.sombr-suz{
  box-shadow: 6px 6px 25px rgb(16, 96, 161);
}
.suzuki{
  width: 150px;
  height: 50px;
  margin-top: 50px;
}
/*///////////////       /////////////////*/
.sombr-ven{
  box-shadow: 6px 6px 25px black;
}
.vento{
  width: 100px;
  height: 100px;
  margin-top: 25px;
}
/*///////////////       /////////////////*/
.sombr-yam{
  box-shadow: 6px 6px 25px black;
}
.yamaha{
  width: 240px;
  height: 100px;
  margin-top: 25px;
}
/*///////////////       /////////////////*/
.sombr-pia{
  box-shadow: 6px 6px 25px rgb(2, 154, 255);
}
.piaggio{
  width: 200px;
  height: 100px;
  margin-top:25px;
}
/*/////////////////////////////////////////////// boton para el select ///////////////////////////////*/

.letras-bot-select{
  text-decoration: none !important;
  background: -webkit-linear-gradient( rgb(66, 255, 9),white, rgb(66, 255, 9),rgb(66, 255, 9),gray,rgb(2, 2, 2), black);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* BOTON SELECCIONAR*/
.btn-select {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid transparent!important;
  transition: 0.5s ease;
  user-select: none;
  width: 250px !important;
  height: 50px !important;
}

#btn:hover,
:focus {
  color: #ffffff;
  background: rgba(73, 255, 1, 0.863);
  border: 1px solid transparent !important;
  text-shadow: 0 0 5px #77fd42d3, 0 0 10px rgba(73, 255, 1, 0.801), 0 0 20px #36750cce !important;
  box-shadow: 0 0 5px #09ff00c7, 0 0 20px rgba(73, 255, 1, 0.74), 0 0 50px #00ff22c4,
    0 0 100px rgba(73, 255, 1, 0.747);
}

.ltr-blan{
  color: white;
}
/*////////////////////////////////////////////////BOTON DE REPARAR/////////////////////////////*/
.button-rep {
  --green: #1BFD9C;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}
.quit-lin{
  text-decoration: none !important;
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
}
.button-rep:hover {
  color: #ffffff;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.button-rep:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.button-rep:hover:before {
  transform: translateX(15em);
}
.mar-ab{
  margin-block-end: 60px;
  margin-top: 60px;
}
.tam-peq{
  font-size: 14px;
}
.img-footer{
  width: 140px;
  height: 70px;
}
.fondo-footer{
  background-color: rgb(17, 17, 17);
}
footer{
  color:  rgba(73, 255, 1, 0.747);
}
.margen-dere{
  margin-right: 400px;
}
.margen-izq{
  margin-left: 0px;
}