/*/////////////////////////////   cuerpo de la pag   /////////////////////////////////////*/
body{
    background-color: black;
  }
  /*/////////////////////////////   imagen del logo      /////////////////////////////////////*/
  .img-logo{
      width: 110px !important;
      height: 50px !important;
  }
  .fondo-img{
    background-color:white;
  }
  /*////////////////////////////   Zona del menu       ////////////////////////////////////////////////*/
  .navbar {
      overflow: hidden;
      background: linear-gradient(to right,white,white,grey,grey,black,black,#0aee0a,#0aee0a) !important;
      top: 0%;
      height: 57px;
      width: 100%;
      
    }
    
    .navbar a {
      float: right;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .navbar a:hover {
      background: #000000;
      color: rgb(255, 255, 255) ;
    }
  
    .secc-uno{
      color: rgb(1, 255, 1) !important;
    }
    .secc-dos{
      background-color: rgb(1, 255, 1); 
      color: black !important;
    }
    .secc-tres{
      background-color: black; 
      color: white !important;
    }
    /*///////////////////////////////////////    Estilo de letra y tamaño     ////////*/
    .estil-letr{
      font-family:sans-serif;
    }
    .tam-let{
      font-size: 15px !important;
    }
  /*///////////////////////////////////////    boton whats app ////////*/
  .button2 {
    height: 50px;
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: black;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background:transparent;
    margin-left: 10px;
    border: none #e8e8e8;
    box-shadow: 6px 6px 12px transparent,
               -6px -6px 12px transparent;
  }
  
  .button2 > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
 /***********************************************LTRA DE BIENVENIDA***************************************/
  .bienv{
    background: linear-gradient(to top,black,rgb(88, 86, 84),rgb(0, 255, 0),rgb(88, 86, 84),black) !important;
    text-align: center;
    border: solid 3px rgba(255, 255, 255, 0.705);
    border-left: solid 3px black;
    border-right: solid 3px black;
    border-top:solid 3px #0aee0a;
    margin-top: 65px;
  }
  .letra-bienv {
    background: -webkit-linear-gradient(white, black, white, rgb(26, 92, 26), white, black, white, rgb(26, 92, 26));
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.425); /* Grosor del contorno y color */

}


  /*/////////////////////////////////////////////   EDICION DE TODA LA PAG    //////////////////////////////////*/
  .fondo{
    background-color: white;
  }
  
  /*/////////////////////////////////////////   Edicion de servicios        ///////////////////////////////////////////*/
  .carta{
    min-height:0px;
    background-color:transparent;
  }
  .cart-blan{
    background-color: white;
  }
  /*/////////////////////////////////////////////// LTRA BLANCA ///////////////////////////////*/
  
  .ltr-blan{
    color: white;
  }
/**********************************************************************************/
  .mar-ab{
    margin-block-end: 60px;
    margin-top: 60px;
  }
  .tam-peq{
    font-size: 17px;
  }
  /**************************************FOOTERRR*********************************/
  .img-footer{
    width: 140px;
    height: 70px;
  }
  .fondo-footer{
    background-color: rgb(17, 17, 17);
  }
  footer{
    color:  rgba(73, 255, 1, 0.747);
  }
  .margen-dere{
    margin-right: 400px;
  }
  .margen-izq{
    margin-left: 0px;
  }
/************************************************MISION*****************************************/
.ltra-mis{
    background: -webkit-linear-gradient(white,black,#07f707,gray,white,white);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
} 
.fondo-mis{
    background: linear-gradient(to top,black,black,green) !important;
    text-align: center;
    border: solid 3px rgba(255, 255, 255, 0.705);
    border-left: solid 3px black;
    border-right: solid 3px black;
    border-top:solid 3px #0aee0a;
}
.tam-mis{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
/*********************************carrusel******************************************/
.mySlides {display:none;}
/*********************************cartas de colaboradores***********************/
.pintor{
  height: 280px;
  width: 280px;
}
.lt-cart-colab{
  background: -webkit-linear-gradient(white,black,darkblue 70%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.lt-cart-colab-neg{
  background: -webkit-linear-gradient(white,darkblue 70%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.lt-cart-colab-neg-dob{
  background: -webkit-linear-gradient(white,darkblue 70%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.ajust{
  width: auto;
  height: 300px;
}